* { box-sizing: border-box; margin: 0; padding: 0; }
html, body, #App { width: 100vw; height: 100vh }

#App {
  background-image: url(https://ecare.nl/wp-content/themes/ecare/img/ecare-header-line.svg);
  background-position-x: initial;
  background-position-y: initial;
  background-size: cover;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgba(255, 228, 56, 0.95);

  color: #6D0046;
  font-family: 'Work Sans', sans-serif !important;
  font-size: 15px;
  font-weight: 300 !important;
}

.vogelhuis {
  position: absolute;
  bottom: 150px;
  width: 28%;
  right: 20px;
}

.huisjes {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0;
}



.window {  
  display:inline-block;
  margin : 15px;
  padding: 15px;
  z-index: 100;
  position: absolute;
  
  background:white;    
  border: white 2px solid;
  border-radius: 5px;   
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5); 
}

.window > div {
  padding: 5px;
}

.window .body { 
  position: relative!important;
  overflow-y: auto;
  height: 700px;
  width: 1024px; 
}

.window .footer  {    
  height: 50px; 
  background-image: url(logo_ecare.png);
  background-position: right 10px top -12px;
  background-repeat: no-repeat;
  background-size: 115px 75px;
}


.container {
  margin-bottom: 20px;
}

.container .title {
  font-size: large;
  border-bottom: 3px solid rgba(255, 228, 56, 0.95);
  margin-bottom: 15px;
  font-weight: 700;
}

.row {
  width : 100%;  
  display: flex;
  margin-bottom: 15px;
}

.col-1 { width : 50px; }
.col-9 { width : 100%; }

button {
  font-weight: 300 !important;  
  background-color: rgba(255, 228, 56, 0.95) !important;
  border: 1px solid #6D0046  !important;
  border-radius: 3px;
  color: #6D0046;
  padding: 10px;
}

.alert {
  font-weight: 600;  
  margin-bottom: 20px;
}



